<html>
    <head>
        <title>María García Fradua</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Customer Focus Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mi primer post</a></h2>
            <p>Poner foco en cliente.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mi segundo post</a></h2>
            <p>Como hacer foco en el cliente.</p>
        </div>
    </body>
</html>